<?xml version="1.0" encoding="UTF-8"?>

<!-- Create a file called phpunit.xml
Open phpunit.xml
Configure how phpunit should run
set directory where tests live
specify logging of tests
specify what files are being tested
add listener for PHP_VCR to handle mocks -->

<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">     
  <testsuites>
    <testsuite>
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="clover.xml"/>
    <log type="coverage-html" target="tests/codeCoverage" charset="UTF-8"/>
  </logging>
  <filter>
    <whitelist>
        <directory suffix=".php">app/model</directory>
    </whitelist> 
  </filter>  
  <listeners>
      <listener class="PHPUnit_Util_Log_VCR" file="vendor/php-vcr/phpunit-testlistener-vcr/PHPUnit/Util/Log/VCR.php" />
    </listeners>
  </phpunit>